AI-Powered Invoice Processing Pipeline.json
{
  "name": "AI-Powered Invoice Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "has:attachment filename:pdf"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -256,
        0
      ],
      "id": "01a06961-7b8d-4f4e-9b23-4285ff3ce3cd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "kxx7ncJJUL1pWSbV",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an invoice data extraction assistant. Analyze the attached PDF invoice and extract exactly the following fields:\n\n1. invoice_number\n2. vendor_name\n3. invoice_date\n4. total_amount_due\n5. tax_amount\n\nRules:\n- Return ONLY a valid JSON object with these five keys — no markdown formatting, no code fences, no explanations, no extra text.\n- If a field is not found in the document, set its value to null.\n- Preserve currency symbols/codes exactly as they appear in the invoice.\n- Dates should be returned in the same format as shown in the document.\n\nExample output format:\n{\n  \"invoice_number\": \"INV-2026-001\",\n  \"vendor_name\": \"Example Vendor Ltd.\",\n  \"invoice_date\": \"July 1, 2026\",\n  \"total_amount_due\": \"Rs. 84,000\",\n  \"tax_amount\": \"Rs. 4,000\"\n}",
        "hasOutputParser": true,
        "options": {
          "passthroughBinaryPdfs": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        0
      ],
      "id": "1e07324f-52d6-43ce-a3e7-65bfa170963d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        128,
        272
      ],
      "id": "68673c3e-c42a-4883-a153-3e7981050bfb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "B8WgKnz8VfFJA48g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"invoice_number\": \"INV-123\",\n  \"vendor_name\": \"Company Name\",\n  \"invoice_date\": \"2026-07-06\",\n  \"total_amount_due\": \"0.00\",\n  \"tax_amount\": \"0.00\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        496,
        272
      ],
      "id": "1736a1b9-4311-48ea-a792-ec4d2840db94",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        640,
        480
      ],
      "id": "e32e78be-dca6-4de4-b3ea-9e64e7b53e38",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "B8WgKnz8VfFJA48g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1V8WFBTt9R0JrxfyzicQBka-oTHl8ypFfdeWT0GztFas",
          "mode": "list",
          "cachedResultName": "AI Invoice Records 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V8WFBTt9R0JrxfyzicQBka-oTHl8ypFfdeWT0GztFas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V8WFBTt9R0JrxfyzicQBka-oTHl8ypFfdeWT0GztFas/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor Name": "={{ $('Code in JavaScript').item.json.vendor_name }}",
            "Invoice Date": "={{ $('Code in JavaScript').item.json.invoice_date }}",
            "Total Amount": "={{ $('Code in JavaScript').item.json.total_amount_due }}",
            "Tax Amount": "={{ $('Code in JavaScript').item.json.tax_amount }}",
            "Invoice Number": "={{ $('Code in JavaScript').item.json.invoice_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax Amount",
              "displayName": "Tax Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        48
      ],
      "id": "a622491a-3ed4-4a3e-aace-0f911a2ec66b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cvzHhS8atAMRsrnL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1V8WFBTt9R0JrxfyzicQBka-oTHl8ypFfdeWT0GztFas",
          "mode": "list",
          "cachedResultName": "AI Invoice Records 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V8WFBTt9R0JrxfyzicQBka-oTHl8ypFfdeWT0GztFas/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V8WFBTt9R0JrxfyzicQBka-oTHl8ypFfdeWT0GztFas/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Invoice Number",
              "lookupValue": "={{ $json.invoice_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -176
      ],
      "id": "2df51b71-64dc-4183-b90c-a1f2f6469e2c",
      "name": "Check Duplicate",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cvzHhS8atAMRsrnL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1152,
        544
      ],
      "id": "dd6c26ab-6251-4521-939d-b571a2d7e291",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "sendTo": "haiderali796959@gmail.com",
        "subject": "={{ $json.execution?.error?.node?.name ? '⚠️ Alert: Invoice Workflow Failed (Node: ' + $json.execution.error.node.name + ')' : '⚠️ Alert: Invoice Workflow Failed' }}",
        "emailType": "text",
        "message": "=Hi Ali,  Invoice processing pipeline mein ek error detect hua hai:  🔴 Failed Node: {{ $json.execution?.error?.node?.name || 'Unknown Node' }} 📝 Error Message: {{ $json.execution?.error?.message || 'No error message provided' }} 🆔 Execution ID: {{ $json.execution?.id || 'N/A' }}  🔗 Debug Link: https://ali04.app.n8n.cloud/execution/{{ $json.execution?.id || '' }}  Aap is link par click kar ke direct n8n dashboard par execution history aur logs check kar sakte hain.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        544
      ],
      "id": "8921efc2-1ef4-44db-9269-cf4acb3ad7d9",
      "name": "Send a message",
      "webhookId": "55c1d116-784d-4a69-bddd-af5a9aa3509d",
      "credentials": {
        "gmailOAuth2": {
          "id": "kxx7ncJJUL1pWSbV",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json.output;\n\nfunction cleanNumber(value) {\n  if (!value) return 0;\n  const cleaned = String(value).replace(/[^0-9,]/g, '').replace(/,/g, '');\n  return parseFloat(cleaned) || 0;\n}\n\nreturn [{\n  json: {\n    invoice_number: item.invoice_number,\n    vendor_name: item.vendor_name,\n    invoice_date: item.invoice_date,\n    total_amount_due: cleanNumber(item.total_amount_due),\n    tax_amount: cleanNumber(item.tax_amount)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -176
      ],
      "id": "aa4af867-bbc5-4f4b-8c82-ca308fe646ad",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "395852ff-73b4-8075-a0ca-fa3fb819609d",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://app.notion.com/p/395852ff73b48075a0cafa3fb819609d"
        },
        "title": "={{ $('Code in JavaScript').item.json.invoice_number }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Vendor Name|rich_text",
              "textContent": "={{ $('Code in JavaScript').item.json.vendor_name }}"
            },
            {
              "key": "Invoice Date|date",
              "includeTime": false,
              "date": "={{ $('Code in JavaScript').item.json.invoice_date }}"
            },
            {
              "key": "Total Amount|number",
              "numberValue": "={{ $('Code in JavaScript').item.json.total_amount_due }}"
            },
            {
              "key": "Tax Amount|number",
              "numberValue": "={{ $('Code in JavaScript').item.json.tax_amount }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2272,
        48
      ],
      "id": "9029ae62-2b7f-4c8a-9b45-84808af746f5",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "3hczodrbGcqlKX9U",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        -240
      ],
      "id": "2edd34e6-685c-4800-bca9-804fd645b1c4",
      "name": "Skipped - Duplicate Invoice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83356826-744c-49a3-815c-1137f5336f0c",
              "leftValue": "={{ [$json.output.invoice_number, $json.output.vendor_name, $json.output.invoice_date, $json.output.total_amount_due, $json.output.tax_amount].every(v => v && v !== \"null\" && v !== \"\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        0
      ],
      "id": "e1334d2a-9cca-4abc-b705-70d685656bb2",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "234db26e-21aa-4f3c-9672-02dac9197f3d",
              "leftValue": "={{ $('Check Duplicate').item && $json['Invoice Number'] === $('AI Agent').item.json.output.invoice_number ? true : false }}",
              "rightValue": "={{ $('AI Agent').item.json.output.invoice_number }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        32
      ],
      "id": "1ce8a784-2e2d-40aa-9abb-bd1190253e6a",
      "name": "Check If Duplicate"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16,
        0
      ],
      "id": "a82294f7-97f3-4f52-89a9-e3a6d1f250bd",
      "name": "Fetch Email Attachment",
      "webhookId": "83ad75fd-8d7b-4354-9f70-34c606dfd7dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "kxx7ncJJUL1pWSbV",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "haiderali796959@gmail.com",
        "subject": "Invoice Extraction Failed - Missing Data",
        "emailType": "text",
        "message": "=An invoice was processed, but some required fields were missing during extraction:\n\nInvoice Number: {{ $json.output.invoice_number }}\nVendor Name: {{ $json.output.vendor_name }}\nInvoice Date: {{ $json.output.invoice_date }}\nTotal Amount Due: {{ $json.output.total_amount_due }}\nTax Amount: {{ $json.output.tax_amount }}\n\nPlease review this invoice manually to complete the missing data.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        112
      ],
      "id": "70d5edeb-ef56-401c-bea8-922c02fd7849",
      "name": "Alert - Missing Fields",
      "webhookId": "13837960-104d-4cde-8aca-ec2b18ae1307",
      "credentials": {
        "gmailOAuth2": {
          "id": "kxx7ncJJUL1pWSbV",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Fetch Email Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Check If Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert - Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Duplicate": {
      "main": [
        [
          {
            "node": "Skipped - Duplicate Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Fetch Email Attachment": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Du3vDeHPp0YXGbSY",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c242ae2c-7578-41e6-a470-f6b96e5409e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a662ac25b1218f5266b3f16cb644d5e6da92124e1619943c2d4d481bbbf5b0b1"
  },
  "nodeGroups": [],
  "id": "Du3vDeHPp0YXGbSY",
  "tags": []
}