Gmail Agentic Workflow (1).json
{
  "name": "Gmail Agentic Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -848,
        144
      ],
      "id": "33033e49-dced-4418-8c55-e054739da4fa",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "kxx7ncJJUL1pWSbV",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Subject }}\n{{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Elite AI Operations Manager. Read the incoming email subject and body carefully. Classify it strictly as either 'Lead', 'Support', or 'Spam'. Provide a brief 1-sentence summary and a highly professional reply draft matching the category."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -640,
        144
      ],
      "id": "40024632-05ab-49bb-92d5-e41badecfed1",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Lead\",\n  \"summary\": \"Sender wants to build an automated AI lead management system for real estate and is asking for pricing.\",\n  \"reply_draft\": \"Hi John, thank you for reaching out. We specialize in AI automation systems. Our pricing structures start from $500...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -432,
        336
      ],
      "id": "9fe26012-611a-4d15-9588-640cdf621207",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -784,
        352
      ],
      "id": "5c8c6727-22a4-4742-8439-5092c8e53263",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lEClHYbsDD1ucKFe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -624,
        368
      ],
      "id": "9b5cd1fa-9039-47af-a17c-a89ef620c9d5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "Lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f50a2bb9-3ca0-4785-b9b1-2218c0ef1763"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lead Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "150d9c41-3972-4d4d-815f-fbf768f379dc",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6089bd35-e2cc-44a6-9e82-8ae26fd870f5",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -256,
        112
      ],
      "id": "da490245-3ea9-426e-b239-785654cd5c80",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Re: Inquiry",
        "message": "={{ $('AI Agent').item.json.output.reply_draft }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -48,
        0
      ],
      "id": "32f19cd9-8676-4b8e-9eee-0c29d1421d69",
      "name": "Create a draft",
      "webhookId": "1f6d0344-ec9c-473d-8e1a-2b03a3066c87",
      "credentials": {
        "gmailOAuth2": {
          "id": "kxx7ncJJUL1pWSbV",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ddd5b147-0ad0-4cdd-87a8-d5f5e1adcd6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a662ac25b1218f5266b3f16cb644d5e6da92124e1619943c2d4d481bbbf5b0b1"
  },
  "nodeGroups": [],
  "id": "HarGryfx63q2mVmD",
  "tags": []
}